body {
  margin-top: 20px;
  background: #d7e6e5;
  color: #20203a;
  font-size: 1.2rem;
}
@media (min-width: 0) {
  .g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0) {
  .g-mt-3 {
    margin-top: 0.21429rem !important;
  }
}

.img-size {
  height: 5rem;
  width: 5rem !important;
}

@media (min-width: 0) {
  .g-pa-30 {
    padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 20px 15px 5px #f19d78;
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top: 20px;
}

.svg-container {
  width: 2.3rem;
  height: 2.3rem;
}

.svg-container__like:hover {
  background-color: #0d6efd;
  cursor: pointer;
}
.svg-container__delete:hover {
  background-color: #dc3545;
  cursor: pointer;
}
.svg-container:hover svg {
  fill: white;
}

.side-icon {
  height: 2rem;
  width: 2rem;
}

.icon-box {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.icon-box:hover.profile:hover {
  background-color: #0d6efd;
}
.icon-box:hover.logout:hover {
  background-color: #dc3545;
}

.icon-box:hover {
  fill: white;
  color: white;
}

.liked, .liked svg {
  fill: white;
  background-color: #0d6efd;
}


.fade-in-animation {
  opacity: 0;
  transition: opacity 0.5s;
}
